.movieItem {
  position: relative;
  min-width: 220px;
  height: 330px;
  margin: 5px;
}

.movieItem > div {
  position: absolute;
  width: 100%;
  height: 330px;
  top: 0;
  left: 0;
  padding: 5px;
  z-index: 100;
  transition: all 0.3s;
  overflow: hidden;
}

.movieItem > div:hover {
  top: -75px;
  left: -10px;
  z-index: 200;
  height: 460px;
  background-color: black;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #fff;
  overflow: hidden;
}

.tags {
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 10px;
  display: flex;
}

.movieDetailInfoContainer {
  margin: 10px 0;
}
